<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.UserDao">

    <select id="getNameById" parameterType="java.lang.Long" resultType="com.code.entity.User">
        SELECT id, username, password, avatar
        FROM user
        where id = #{id}
    </select>

    <select id="getUser" parameterType="com.code.entity.User" resultType="com.code.entity.User">
        SELECT id, username, password, avatar
        FROM user
        where id = #{id} AND username = #{username}
    </select>

    <select id="getList" resultType="com.code.entity.User">
        SELECT id,username,password,avatar
        FROM user;
    </select>

    <insert id="save" parameterType="com.code.entity.User">
        INSERT INTO user
        (id,username,password,avatar)
        VALUES (#{id},#{username},#{password},#{avatar});
    </insert>

    <update id="updateInfo" parameterType="com.code.entity.User">
        UPDATE user
        SET username = #{username}
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM user WHERE id = #{id};
    </delete>
</mapper>
